---
// Layout Import
import MainLayout from "@layouts/Base.astro";
let title = "All tags";
let description = "All the tags used so far...";
// Data Fetching: List all Markdown posts in the repo.
const allPosts = await Astro.glob("../posts/*/*.mdx");
const tags = [
  ...new Set(
    [].concat.apply(
      [],
      allPosts.map((post) => post.frontmatter.tags)
    )
  ),
];
---

<MainLayout
  title={"Tags"}
  author="Ciarán Ainsworth"
  description="Life inside a computer"
  pubDate=""
  image="/images/avatar.webp"
  alt="A pixel art rendering of the author"
>
  <section
    class="prose prose-a:no-underline dark:prose-invert lg:prose-xl prose-h1:text-center ml-auto mr-auto"
  >
    <h1>All Tags</h1>
    <div class="container">
      <ul class="columns-2 md:columns-3">
        {
          tags.map((tag) => (
            <li class="list-item list-disc">
              <a
                href={`/tags/${tag}`}
                title={`View posts tagged under "${tag}"`}
              >
                <span>#{tag}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</MainLayout>
