---
const allPosts = (await Astro.glob("./posts/**/*.mdx")).sort(
	(a, b) =>
		new Date(b.frontmatter.date).valueOf() -
		new Date(a.frontmatter.date).valueOf()
);

const featuredArticles = allPosts.slice(0, 4);
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sporiff.dev">
	<main>
		<h1 class="text-4xl font-semibold mb-10 text-center">Sporiff.dev</h1>
		<section>
			<h2 class="text-2xl font-semibold mb-10 text-center">
				Featured posts
			</h2>
			<div class="flex flex-col items-center">
				{
					featuredArticles.map((option) => (
						<Card
							href={String(option.url)}
							image={option.frontmatter.image}
							summary={option.frontmatter.summary}
							title={option.frontmatter.title}
						/>
					))
				}
			</div>
		</section>
	</main>
</Layout>
