---
export interface Props {
	title: string;
	summary: string;
	href: string;
	image?: string;
}

const { href, title, summary, image } = Astro.props as Props;
---

<a href={href}>
	<div
		class="max-w-lg mb-10 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
	>
	<div class="flex flex-col items-center">
		{
			image ? (
				<img class="rounded-t-lg" src={image} alt="" />
			) : (
				<img
					class="rounded-t-lg"
					src="https://via.placeholder.com/750x400.webp"
					alt=""
				/>
			)
		}
		</div>
		<div class="p-5">
			<h2
				class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
			>
				{title}
			</h2>
			<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
				{summary}
			</p>
		</div>
	</div>
</a>
