---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Ciarán Ainsworth. Theme by <a
          href="https://github.com/markteekman">Mark Teekman</a
        >.
      </p>
    </div>
  </section>
</footer>
