<aside class="bg-blue-200 dark:bg-blue-700 my-5">
   <div class="p-2 font-bold text-lg bg-blue-400 dark:bg-blue-900">
      <h2>Note</h2>
   </div>
   <div class="p-2">
      <slot />
   </div>
</aside>